<style>
    iframe{
        width: 80%;
        height: 400px;
    }

    header {
        background: #3E7A96 !important;
    }

    .btn-abrir button {
        width: 100%;
    }

    .col .card{
        padding: 25px 35px
    }

    .box-logo img {
        border-radius: 5px;
        margin: 0 0 25px 0;
    }

    ul {
        padding: 0;
    }

    aside {
        position: sticky;
        top: 120px;
        left: 0;
    }

    .analise img,
    .analise iframe {
        border-radius: 5px;
    }

    .iconesResumo {
        width: 24px;
        height: 24px;
        margin: 0 .2rem
    }

    .largura {
        width: 42px !important;
    }

    .iconeButton {
        width: 15px;
    }

    .ms-1 {
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    @media(max-width: 1200px) {
        iframe{
            height: 340px;
        }
    }

    @media(max-width: 992px) {
        #content {
            flex-wrap: wrap;
        }

        #content aside {
            width: 100%;
            position: unset !important;
            margin: 1rem 0;
        }

        #content div {
            width: 100%;
        }

        aside .card {
            width: 100% !important;
        }

        aside .card .box-logo img {
            width: 70%;
        }

        aside .card-body {
            justify-content: space-between;
            align-items: stretch;
        }
    }

    @media(max-width: 575px) {
        #content {
            margin-top: 6.5rem
        }

        .resumo {
            padding: 0 !important;
        }

        .row {
            display: flex;
            justify-content: center;
            --bs-gutter-x: 0;
        }

        .row .col-sm {
            justify-content: center !important;
        }
    }

    @media(max-width: 768px) {
        iframe{
            width: 100%;
            height: 250px;
        }

        aside .card .box-logo img {
            width: 50%;
        }

        .logoLista {
            flex-direction: column;
        }
    }

    @media(max-width: 500px) {
        iframe{
            height: 180px;
        }
    }

    @media(max-width: 425px){
        .mais18 {
            margin: 0;
            padding: 1rem 0;
        }

        .mais18,
        .tagline-aposte {
            display: block;
        }
    }

    @media(max-width: 375px) {
        iframe{
            height: 140px;
        }
    }

</style>

<div class="container my-5">
    {{#cassino}}
        <div class="row d-flex align-items-start" id="content">

            {{!-- Menu ao lado --}}
            <aside class="col-sm-3 mt-sm-5">
                <div class="card">
                    <div class="card-body d-flex align-itens-center flex-column">
                        <div class="d-flex d-lg-inline logoLista">
                            <div class="box-logo d-flex justify-content-center">
                                <img src="https://storage.googleapis.com/uploads-node/{{imgCassino}}" width="150px" class="align-center">
                            </div>
                            <div>
                                <ul id="listaTopico">
                                    <li><img src="../img/check.svg" alt="" class="checkIcon" width="20px"><span class="mb-0 px-2">{{adjCassino1}}</span></li>
                                    <li><img src="../img/check.svg" alt="" class="checkIcon" width="20px"><span class="mb-0 px-2">{{adjCassino2}}</span></li>
                                    <li><img src="../img/check.svg" alt="" class="checkIcon" width="20px"><span class="mb-0 px-2">{{adjCassino3}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-abrir">
                            <a href="{{linkCassino}}" target="_blank"> <button class="btn btn-success">abrir {{nomeCassino}} ></button> </a>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    {{{topicoAnalise}}}
                </div>
            </aside>

            {{!-- Conteúdo --}}
            <div class="col-sm-9 mt-sm-5" >
                <div class="card" id="direita">
                    <div class="card-body analise">

                        {{!-- BANNER PARA TÍTULO --}}
                        <div id="infoAnalise">
                            <h4 class="d-block">{{nomeCassino}}: Bônus de R$ {{valorBonus}}</h4>
                            <h4>{{nomeCassino}} é confiável?</h4>
                            <div class="mt-4">
                                <a href="{{linkCassino}}" target="_blank"class="btn btn-success" id="btn">abrir {{nomeCassino}}</a>
                                <div class="d-inline mb-5">
                                    <div class="d-inline mais18">
                                        {{!-- ícone +18 --}}
                                        <svg width="36" height="34" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M31.3915 10C28.7949 4.67153 23.3262 1 17 1C8.16344 1 1 8.16344 1 17C1 25.8366 8.16344 33 17 33C23.3262 33 28.7949 29.3285 31.3915 24" stroke="#FFF" stroke-width="2" stroke-linecap="round"></path>
                                            <path d="M13.7148 22H11.4043V14.6445L9.13477 15.3076V13.5576L13.5029 12.0469H13.7148V22ZM23.2887 14.7061C23.2887 15.1891 23.1679 15.6152 22.9264 15.9844C22.6894 16.3535 22.3613 16.6497 21.942 16.873C22.416 17.1055 22.792 17.4245 23.07 17.8301C23.348 18.2311 23.487 18.7074 23.487 19.2588C23.487 20.1475 23.1793 20.8493 22.5641 21.3643C21.9534 21.8792 21.1103 22.1367 20.0348 22.1367C18.9547 22.1367 18.1025 21.8792 17.4782 21.3643C16.8538 20.8447 16.5416 20.1429 16.5416 19.2588C16.5416 18.7256 16.6784 18.2539 16.9518 17.8438C17.2252 17.4336 17.6126 17.11 18.1139 16.873C17.6901 16.6497 17.3574 16.3535 17.1159 15.9844C16.8743 15.6152 16.7536 15.1891 16.7536 14.7061C16.7536 13.8402 17.0475 13.1566 17.6354 12.6553C18.2233 12.154 19.0163 11.9033 20.0143 11.9033C21.0215 11.9033 21.819 12.154 22.4069 12.6553C22.9948 13.1566 23.2887 13.8402 23.2887 14.7061ZM21.1764 19.0742C21.1764 18.6641 21.0693 18.3496 20.8551 18.1309C20.6455 17.9076 20.3675 17.7959 20.0211 17.7959C19.6748 17.7959 19.3945 17.9076 19.1803 18.1309C18.9661 18.3496 18.859 18.6641 18.859 19.0742C18.859 19.4707 18.9661 19.7852 19.1803 20.0176C19.3991 20.2454 19.6839 20.3594 20.0348 20.3594C20.3766 20.3594 20.6523 20.2454 20.862 20.0176C21.0716 19.7897 21.1764 19.4753 21.1764 19.0742ZM20.0143 13.6807C19.7044 13.6807 19.4674 13.7832 19.3034 13.9883C19.1439 14.1888 19.0641 14.4691 19.0641 14.8291C19.0641 15.1846 19.1461 15.4717 19.3102 15.6904C19.4743 15.9092 19.7158 16.0186 20.0348 16.0186C20.3493 16.0186 20.584 15.9092 20.7389 15.6904C20.8984 15.4717 20.9782 15.1846 20.9782 14.8291C20.9782 14.4736 20.8961 14.1934 20.7321 13.9883C20.5726 13.7832 20.3333 13.6807 20.0143 13.6807Z" fill="#FFF"></path>
                                            <path d="M32 13C31.4477 13 31 13.4477 31 14V16H29C28.4477 16 28 16.4477 28 17C28 17.5523 28.4477 18 29 18H31V20C31 20.5523 31.4477 21 32 21C32.5523 21 33 20.5523 33 20V18H35C35.5523 18 36 17.5523 36 17C36 16.4477 35.5523 16 35 16H33V14C33 13.4477 32.5523 13 32 13Z" fill="#FFF"></path>
                                        </svg>
                                    </div>
                                    <span class="tagline-aposte">Aposte com responsabilidade</span>
                                </div>
                            </div>
                        </div>

                        {{!-- INFORMAÇÕES RESUMIDAS DO CASSINO --}}
                        <div class="resumo mt-5 px-5">
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/website.svg" alt="" title="Website" >
                                    <span class="ms-1">Website</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end  my-2">
                                    <a href="{{linkCassino}}" target="_blank">
                                        <button class="btn btn-success">
                                            {{nomeCassino}}
                                            <img src="../img/abrir_website.svg" alt="" class="iconeButton">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/bonus_cadastro.svg" alt="" title="Bônus de Cadastro" class="iconesResumo">
                                    <span class="ms-1">Bônus de Cadastro</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end  my-2">
                                    <a href="{{linkCassino}}">
                                        <button class="btn btn-warning">
                                            R$ {{valorBonus}}
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/licencas.svg" alt="" title="Licenças" class="iconesResumo">
                                    <span class="ms-1">Licenças</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end  my-2">
                                    <span>{{licencasCassino}}</span>
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/suporte_cliente.svg" alt="" title="Suporte ao Cliente" class="iconesResumo">
                                    <span class="ms-1">Suporte ao Cliente</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end align-items-center my-2">
                                     {{#if suporte1}} <img src="../img/contact_mail.svg" alt="" title="E-mail" class="iconesResumo"> {{else}}{{/if}}
                                     {{#if suporte2}} <img src="../img/telefone.svg" alt="" title="Telefone" class="iconesResumo"> {{else}}{{/if}}
                                     {{#if suporte1}} <img src="../img/chat.svg" alt="" title="Chat" class="iconesResumo"> {{else}}{{/if}}
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/app.svg" alt="" title="Aplicativo" class="iconesResumo">
                                    <span class="ms-1">Aplicativo</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end align-items-center my-2">
                                    {{#if app1}} <img src="../img/android.svg" alt="" title="Android" class="iconesResumo"> {{else}}{{/if}}
                                    {{#if app2}} <img src="../img/ios.svg" alt="" title="iOS" class="iconesResumo"> {{else}}{{/if}}
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/deposito_minimo.svg" alt="" title="Depósito Mínimo" class="iconesResumo">
                                    <span class="ms-1">Depósito Mínimo</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end  my-2">
                                    <span>R$ {{depositoMinimo}}</span>
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/metodos_pagamento.svg" alt="" title="Métodos de Pagamento" class="iconesResumo">
                                    <span class="ms-1">Métodos de Pagamento</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end align-items-center my-2">
                                    {{#if formaPagamento1}} <img src="../img/pix.svg" alt="" title="PIX" class="iconesResumo"> {{else}}{{/if}}
                                    {{#if formaPagamento2}} <img src="../img/boleto.svg" alt="" title="Boleto" class="iconesResumo"> {{else}}{{/if}}
                                    {{#if formaPagamento3}} <img src="../img/creditcard.svg" alt="" title="Cartão de crédito" class="iconesResumo"> {{else}}{{/if}}
                                    {{#if formaPagamento4}} <img src="../img/transbanc.svg" alt="" title="Transferência bancária" class="iconesResumo"> {{else}}{{/if}}
                                    {{#if formaPagamento5}} <img src="../img/picpay.svg" alt="" title="PicPay" class="iconesResumo largura"> {{else}}{{/if}}
                                    {{#if formaPagamento6}} <img src="../img/pay4fun.svg" alt="" title="Pay4FUn" class="iconesResumo largura"> {{else}}{{/if}}
                                    {{#if formaPagamento7}} <img src="../img/bitcoin.svg" alt="" title="Cripto Moedas" class="iconesResumo"> {{else}}{{/if}}
                                </div>
                            </div>
                            <div class="row border-bottom border-ligth border-1 ">
                                <div class="col-sm d-flex justify-content-start align-items-center my-2">
                                    <img src="../img/saque_minimo.svg" alt="" title="Saque Minímo" class="iconesResumo">
                                    <span class="ms-1">Saque Mínimo</span>
                                </div>
                                <div class="col-sm d-flex justify-content-end  my-2">
                                    <span>R$ {{saqueMinimo}}</span>
                                </div>
                            </div>
                        </div>

                        {{!--TEXTO DA ANÁLISE --}}
                        <div class="mt-4">
                            {{{analiseCassino}}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {{else}}

    {{/cassino}}
</div>